<h1>Welcome, {{username}}!</h1>

<p>
Home index
</p>
<img src={{image}} />

{{# item}}
	{{b}}
	{{# a}}
		{{c}}
	{{/ a}}
{{/ item}}


{{# product}}
{{{name}}
{{# photo}}
	<img src={{path_fullsize}} />
{{path_fullsize}}
{{/ photo}}


{{/ product}}

{{test}}