<div class="page-header">
	<h1>{{headline}}</h1>
</div>

<div>
	{{#buttons}}
	<a class="btn {{class}}" href="{{url}}">{{text}}</a>
	{{/buttons}}
</div>
	
	
{{#value}}
	{{id}}
	{{description}}
	{{#photo}}
		<img src="{{path_fullsize}}" alt="" />
	{{/photo}}
{{/value}}
	
