.breadcrumbs {
    background: #ddd;
    margin: 0;
    padding: 0 .8em;
    font-size: 11px;
    color: #222;
}
.breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    margin-right: .4em;
}
.breadcrumbs .separator:before {
    content: '/';
}
.breadcrumbs li a {
    display: inline-block;
    text-decoration: none;
    padding: .4em .6em;
    color: #444;
}
.breadcrumbs li a:hover,
.breadcrumbs li a:focus {
  background-color: #fff;
}
.breadcrumbs .active a {
    pointer-events: none;
    color: #bf460d;
}