/*--- BUTTON SUBMIT --*/
#left button{
    display: block;
    border:0;
    background:none;
    overflow:visible;
    margin:20px auto 0 76px;
    padding:0;
    outline:none;
}

#left button:hover{
    cursor: pointer;
}

#left button span{
    display:inline-block;
    height:26px;
    background:url(../css/i/button.gif) no-repeat;
    line-height:26px;
    text-transform:uppercase;
    color:#808080;
    font-family:arial, helvetica, sans-serif;
    font-size:12px;
}
#left button span span{
    position:relative;
    left:10px;
    padding:0 10px 0 0;
    background-position:100% 0;
}
#left button:hover span{
    background-position:0 -26px;
    color:#fff;
}
#left button:hover span span{
    background-position:100% -26px;
}
/*---    ----*/


.dataInput input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 1px 0 1px 3px;
    width: 100%;
    border: 1px solid blue;
    border-radius: 3px;
    -webkit-appearance: none;
    font-size: 16px;
    height: 25px;
    outline: none;
}

/*---- COLOR MENU --*/

#colorSelect{
    margin-top: 100px;
}

#colorSelect li {
    border-bottom: 1px solid blue;
}

.menu-items {
    display: none;
    margin:0;
    padding: 0;
    cursor: pointer;
}
.menu-title {
    font-weight: bold;
    cursor:pointer;
    padding-left: 18px;
}
.menu-open .menu-items {
    display: block;
} 
.menu-open .menu-title {
    background: url(csg-50.png) no-repeat;
    background-position: 0 -128px; width: 16px; height: 16px; 
}
.menu-close .menu-title {
    background: url(csg-50.png) no-repeat;
    background-position: 0 -96px; width: 16px; height: 16px;
}


.autocomplete {
    margin-top: 20px;

}

.autocomplete ol {
    display: none;
    padding: 3px;
    border: 1px solid gray;
    list-style: none;
    margin: 0;
    padding: 0;
    color: darkblue;
}

.autocomplete input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 1px 0 1px 3px;
    width: 100%;
    border: 1px solid blue;
    border-radius: 3px;
    -webkit-appearance: none;
    font-size: 16px;
}
.autocomplete input:focus {
    outline: none;
}
.autocomplete.open input {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.autocomplete.open ol {
    display: block;
    background: lightsteelblue;
    z-index: 1000;
    position: relative;
}
.autocomplete ol .selected {
    background: #ccc;
}
.autocomplete li:hover {
    cursor:pointer;
/*    text-decoration: underline;*/
}

.autocomplete li {
    border-bottom: 1px solid gray;
    margin: 1px;
}

.nextEnterpriseLi {
    font-weight: bold;
}




/* ----- CONTENT --------*/ 
#result{
/*    position: relative;*/
    width: 100%;
/*    padding-top:10px;*/
    background-color: aliceblue;

}

#result table {
    border: 2px solid #5970B2;
    border-collapse: collapse;
    cellpadding: 0;
    margin: -20px 0 0 10px;
}
#result td,th {
    padding: 5px;
    border: 1px solid gray;
}

#result .tableHead {
    margin-left: 10px;
    margin-top: 10px;
    color: darkblue;
}
#result .tableHead .source {
    font-weight: bold;
}    
#result table tr.hidden{
    display:none;
}

/*--- SCROLLTOP --*/
.controlScroll {
    position: fixed;
    top: 200px;
    right: 5px;
    z-index: 1000;
    padding: 5px;
    border: 1px solid #eed3d7;
    background:#f2dede;
    border-radius: 4px;
/*    background: url(csg-50.png) no-repeat;
    background-position: 0 -32px;*/
    cursor: pointer;

/*    color: #b94a48;
    text-shadow: 0 1px 0 rgba(25, 255, 255, 0.5);
    font-size: 125%;
    -webkit-transition: all 1s;
*/	
    display: none;
}
.icon {
    background-position: 0 -32px;
}
div.controlTop {
    display: inline-block;
    padding-left: 20px;

}
    
body.ie #filter_show{
    display:none;
}    

#result table.userEdit input{
    width: 400px;
}

#result col.head{
    width: 200px;
}
#result col.data{
    width: 400px;
}

#result input{
    width: 390px;
}
#result textarea{
    width: 390px;
}







