<div id="result">
<table >
<caption class="tableHead"><span class="source"><a href="/kohana/useradmin/edit/id/{{id}}" >{{id}}</a></span></caption>
<tbody>
{{# results}}
    <tr>
	<td> {{enterprise}}</td>
	<td> {{department}}</td>
	<td> {{office}}</td>
	<td> {{party}}</td>
	<td> {{position}}</td>
	<td> {{room}}</td>
	<td> {{phone}}</td>
	<td> {{phone1}}</td>
	<td>{{email_zimbra}}</td>
	<td>{{full_name}}</td>
    </tr>
{{/ results}}
<tbody>
</table>
</div>