<div id="result">
<table >
<caption class="tableHead"><span class="source">{{first_name}}</span></caption>
<tbody>
{{# results}}
    <tr>
	<td><a href="/kohana/useradmin/edit/id/{{id}}" >{{id}}</a></td>
	<td> {{enterprise}}</td>
	<td> {{department}}</td>
	<td> {{office}}</td>
	<td> {{group}}</td>
	<td> {{position}}</td>
	<td> {{phone}}</td>
	<td> {{phone1}}</td>
	<td>{{email_zimbra}}</td>
	<td>{{email}}</td>
	<td>{{full_name}}</td>
	<td> {{ip_number}}</td>
    </tr>
{{/ results}}
</tbody>
</table>
</div>