<div id="result">
<form action={{toForm}}  method="POST">
<input type="hidden" name="hidden"  value="roomedit"/>
<table>
<col class="head"></col><col class="data"></col> 
    <tbody>
    <tr>
	<th>{{headOld}}</th>
	<td><input name="old" value="{{oldRoom}}" ></td>
    </tr>
    <tr>
	<th>{{headNew}}</th>
	<td><input name="new"  /></td>
    </tr>
    <tr>
	<th></th>
	<td><input type="submit" value="send" />
	</td>
    </tr>
    <tbody>
</table>
</form>
</div>