<div id="result">
<form action={{toForm}}  method="POST">
<input type="hidden" name="hidden"  value="add"/>

<table>
<caption class="tableHead"><span class="source">{{caption}}</span></caption>
<col class="head"></col><col class="data"></col> 
<tbody>
    <tr>
	<th>{{headId}}</th>
	<td class="id"><input name ="id" value="{{id}}" /></td>
    </tr>
    <tr>
	<th>{{headEnterprise}}</th>
	<td class="enterprise"><input name="enterprise" value="{{enterprise}}"/></td>
    </tr>
    <tr>
	<th>{{headDepartment}}</th>
	<td class="department" ><input name="department" /></td>
    </tr>
    <tr>
	<th>{{headOffice}}</th>    
	<td class="office"><input name="office"  /></td>
    </tr>
    <tr>
	<th>{{headGroup}}</th>
	<td class="group"><input name="group"  /></td>
    </tr>
    <tr>
	<th>{{headPosition}}</th>
	<td class="position"><textarea rows="2" columns ="50"  name="position" >{{position}}</textarea></td>
    </tr>
    <tr>
	<th>{{headRoom}}</th>
	<td class="room"><input name="room"  /></td>
    </tr>
    <tr>
	<th>{{headFirstName}}</th>
	<td class=first_name"><input name="first_name"  /></td>
    </tr>
    <tr>
	<th>{{headNameName}}</th>
	<td class="name_name"><input name="name_name"  /></td>
    </tr>    
    <tr>
	<th>{{headLastName}}</th>
	<td class="last_name" ><input name="last_name"  /></td>
    </tr>
    <tr>
	<th>{{headPhone}}</th>
	<td class="phone" ><input name="phone"  /></td>
    </tr>
    <tr>
	<th>{{headPhone}}</th>
	<td class="phone1" ><input name="phone1"  /></td>
    </tr>
    <tr>
	<th>{{headEmail}}</th>
	<td class="emailZimbra" ><input name="email_zimbra" value="{{email_zimbra}}" /></td>
    </tr>    
    <tr>
	<th>Email old</th>
	<td class="email" ><input name="email"  /></td>
    </tr>    

    <tr>
	<th></th>
	<td><input type="submit" value="send" />
	</td>
    </tr>
<tbody>
</table>
</form>
</div>